<%- include ('./includes/head') %>
<%- include ('./includes/nav') %>

    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 my-3">
                <h1 class="text-center">Bem vindo(a) <%= user.email %></h1>
                <p class="text-center lead">Caso deseje criar ou entrar em outra conta, clique primeiramente em sair.</p>

                <%- include('./includes/messages') %>


            </div>

            <div class="col-lg-2"></div>
        </div>
    </div>

<%- include ('./includes/footer') %>